.borda{
	border: 1px solid #000;
}

.centralizar{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.ajuste{
	padding: 0, 1em;
}

.claro{
	background-color: rgb(240,242,241);
}

.escuro{
	background-color: #777;
}

/*---MENU---*/

#menu{
	height: 100%;
	position: fixed;
	z-index: 9999;
	padding: 0;
}

#menu img{
	width: 35px;
}

.sidebar{
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.8s all;
	box-shadow: 1px 1px 8px black;
	background-color: rgba(240,242,241,0.9);
}

.sidebar ul{
	margin-top: 80px;
	padding: 0;
}
.sidebar ul li:nth-child(1){
	border-top: 2px solid #ddd;
}

.sidebar ul li{
	border-bottom: 2px solid #ddd;
	list-style: none;
	padding-left: 10px;
}

.sidebar ul li a{
	text-decoration: none;
	color: #000;
	height: 50px;
	width: 100%;
	font-size: 14pt;
	line-height: 50px;
	display: block;
	
}

.sidebar ul li:hover{
	background-color: #ddd;
}

.sidebar ul li a span{
	float: right;
	padding-right: 10px;
}


.botao{
	margin-top: 8px;
	margin-left: 15px;
	float: left;
	padding: 0;
	cursor: pointer;
	display: none;
	z-index: 999999;
}

.botao img{
	width: 35px
}

#conteudo{
	left: 25%;
}
/*---INTRODUÇÃO---*/
#introducao{
	height: 100vh;
	background: url("../img/intro1.jpg") no-repeat center center / cover;
  	overflow:hidden;
  	background-attachment: fixed;
}

.container {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	height: 100%;
  	padding: 0 3rem;
}

.container h1, h2 {
  	color: #F5FFFA;
  	text-shadow: 2px 2px 4px #000000;
  	font-weight: 200;
  	margin: 0.4rem;
}

.container h1 {
  	font-size: 4rem;
}

.container h2 {
  	font-size: 2rem;
}

/* Cursor */
.txt-type{
	font-size: 3.5rem;
}

.txt-type > .txt {
  	border-right: 0.2rem solid #F5FFFA;
}

@media(max-width: 800px) {
  	.container {
    	padding: 0 1rem;
  	}

  	.container h1 {
    	font-size: 3rem;
  	}

  	.container h2 {
	    font-size: 2rem;
	}

	.txt-type{
		font-size: 2.5rem;
	}
}

@media(max-width: 500px) {
	.container h1 {
	    font-size: 2.5rem;
	}

	.txt-type{
		font-size: 2rem;
	}
	.container h2 {
	    font-size: 1.5rem;
	}
}


/*---SOBRE---*/

#sobre{
	height: 100%;
	min-height: 650px;
	padding: 2em 1em;
}

#perfil-img{
	background-image: url("https://ca.slack-edge.com/T1GR0M2TZ-U020QGJBP7U-b2f10433a02d-512");
	padding: 0;
	width: 20em;
	height: 20em;
	background-size: cover;
	background-position: 50%;
	border-radius: 50%;
	border: 8px solid #333;
	transition: 1s;
	margin: 1em 0;
}

.texto{
	font-size: 15pt;
	text-align: justify;
	margin-bottom: -10px;
}

/*---PORTIFÓLIO---*/

#portifolio{
	padding: 2em 1em;
	height: 100%;
	min-height: 650px;
}

.margin{
	padding: 2em 1em;
}

#portifolio .btnMais{
	display: ;
}

/*---HABILIDADE---*/

#habilidades{
	height: 100%;
	padding: 2em 2em;
	border-bottom: 1px solid rgb(240,242,241);
}

.ajuste-habil{
	padding: 10px;
}

.ajuste-habil .skill-item{
	list-style-image: url(../icones/lista.png);
}

/*--CONTATO--*/

#contato{
	height: 80%;
	min-height: 490px;
	padding: 2em 2em;
}

.ajuste-comentario{
	padding: 2em 0;
}

.ajuste-contato{
	padding: 4em 0;
}

#social{
	border-left: 3px solid #ddd;
	padding-left: 2em; 
}

#social div:nth-child(1){
	margin: 0px 0;
}

#social div{
	margin: 20px 0;
}

#social p{
	margin: 5px;
}

#social img{
	width: 40px;
}

/*--FOOTER-*/

#rodape{
	height: 20%;
}

#rodape p{
	text-align: center;
	line-height: 120px;
	font-size: 12pt;
}

/*---@MEDIA---*/

@media (max-width: 767px){
	#menu{
		width: 112px;
		height: 50px;
	}

	.sidebar{
		width: 60px;
		height: 600px;
		margin-left: -65px;
		position: relative;
		overflow: hidden;
		
	}

	.side{
		margin-left: 0;
	}

	.sidebar ul li{
		padding-left: 0px;
	}

	.sidebar ul li a{
		text-align: center;
		display: block;
	}

	.sidebar ul li a span{
		display: none;
	}

	.botao{
		display: block;
	}

	#conteudo{
		left: 0;
		top: 0px;
	}	

	/*--CONTATO--*/

	#contato{
		padding: 1em 1em;
	}

	.ajuste-comentario{
		padding: 1em 0;
	}

	.ajuste-contato{
		padding: 0px 0;
		margin-top: -2em;
	}

	#social{
		border-left: none;
		border-top: 3px solid #ddd;
		padding: 2em;  
	}

	#social p{
		margin: 5px;
	}

	#rodape p{
		text-align: center;
		font-size: 12pt;
		line-height: 2em;
	}

	#rodape{
		height: 100px;
	}

	#rodape p{
		margin-top: 20px;
	}
}

@media (max-width: 422px){
	#perfil-img{
		width: 14em;
		height: 14em;
	}
}

@media (max-height: 320px){
	.sidebar ul{
		margin-top: 30px;
		padding: 0;
	}
}

/*---PROJETO---*/
/*
.botaoVolta{
	float: left;
	padding: 0 10px;
	font-size: 40px;
	text-decoration: none;
	cursor: pointer;
}

.botaoVolta img{
	width: 80px;
}
*/

.botaoVolta{
	top: -15px;
	left: -5px;
	float: left;
	cursor: pointer;
	position: absolute;
}

.botaoVolta img{
	width: 60px;
}

#projeto{
	padding: 2em 0;
	height: 100vh;
}

#projeto h1{
	text-align: center;
}
