:root {
  --ifm-color-primary: #2f6dff;
  --ifm-color-primary-dark: #1f5ef8;
  --ifm-color-primary-darker: #1a56ec;
  --ifm-color-primary-darkest: #1647c3;
  --ifm-color-primary-light: #4a80ff;
  --ifm-color-primary-lighter: #5d8dff;
  --ifm-color-primary-lightest: #86adff;
  --ifm-code-font-size: 95%;
}

[data-theme="dark"] {
  --ifm-background-color: #080d18;
}
